.container {
  height: 98vh;
  width: 98vw;
  position: relative;
  background-image: linear-gradient(-45deg, rgb(103, 156, 255), rgb(0, 183, 255), rgb(125, 218, 255), rgb(171, 221, 241), rgba(199, 239, 245, 0.918));
}

.app{
  width: 100%;
  height: 98vh;
}

.box {
  text-align: center;
  font-size: 12px;
  width: 180px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.404);
  border-radius: 12px;
  cursor: pointer;
  position: absolute;
  margin: 10px;
  font-weight: 900;
}

.screenSaver {
  position: absolute;
  width: 15%;
  height: 100px;
  background-color: white;
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  border-radius: 10%;
}

@keyframes example {
  0% {
    background-color: red;
    left: 50%;
    top: 8%;
    color: black;
    border-radius: 0%;
  }

  25% {
    background-color: yellow;
    left: 10%;
    top: 46%;
    color: blue;
    border-radius: 50%;
  }

  50% {
    background-color: blue;
    left: 50%;
    top: 92%;
    color: white;
    border-radius: 0%;
  }

  75% {
    background-color: pink;
    left: 90%;
    top: 45%;
    color: brown;
    border-radius: 50%;
  }

  100% {
    background-color: red;
    left: 50%;
    top: 8%;
    color: black;
    border-radius: 0%;
  }
  }